<!DOCTYPE html>
<html lang="en" dir="ltr">
  <body>
    <p class="title">Note Generator</p>
    <!-- Include the date? -->

    <!-- tabs for switching between trial/group/regular sessions -->
    <ul>
      <li><a (click)="tabChange('regular')">Regular</a></li>
      <li><a (click)="tabChange('trial')">Trial</a></li>
    </ul>
    <div id="regular" class="type">
      <p>Regular</p>
      <p>Platform used:</p>
      <select id="platform">
        <option value="">Website</option>
        <option value="">Local Software</option>
      </select>
      <p>Website Used:</p>
      <select id="website" (change)="changeWebsite()">
        <option value="">Scratch</option>
        <option value="">Trinket</option>
        <option value="">Repl.it</option>
      </select>
      <p>Username:</p>
        <input type="text" id="username">
      <p>Password:</p>
        <input type="text" id="password">
      <p>Language:</p>
        <input type="text" id="language" name="language" value="" placeholder="Scratch">
      <p>Notes/Activity:</p>
        <input type="text" id="notes">
      <p>Topics Covered:</p>
        <input type="text" (keydown)=onEnter($event) id="topics">
        <ul id="topicsList">

        </ul>
      <p>Homework:</p>
        <input type="text" id="challenges">
      <p>Next Lesson Goals:</p>
        <input type="text" id="next">
      <br>
      <br>
      <button type="button" name="button" (click)="submitButtonClick()">Submit</button>
    </div>
    <div id="trial" class="type">
      <p>Trial</p>
      <p>Platform used:</p>
      <select id="platform">
        <option value="">Website</option>
        <option value="">Local Software</option>
      </select>
      <p>Choose a website:</p>
      <select id="website" (change)="changeWebsite()">
        <option value="">Scratch</option>
        <option value="">Trinket</option>
        <option value="">Repl.it</option>
      </select>
      <p>Language:</p>
        <input type="text" id="language" name="language" value="" placeholder="Scratch">
      <p>Notes/Activity:</p>
        <input type="text" id="notes" name="" value="">
      <p>Topics Covered:</p>
        <input type="text" name="" value="">
      <br>
      <br>
      <button type="button" name="button" (click)="submitButtonClick()">Submit</button>
    </div>
    <br>
    <p id="finish"></p>
  </body>
</html>
