* {
  font-family: Inter;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 16px 0px 0px 0px;
}

.submit {
  background-color: inherit;
  border: none;
  font-size: 20px;
  font-weight: 500;

  text-decoration: none;
  color: black;
  opacity: 1;
  transition: .2s;
}

.submit:hover {
  cursor: pointer;
  text-shadow: 5px 5px 10px;
  transition: .3s;
}

li {
  display: inline;
  margin: 20px;
  padding: 0px 80px 0px 80px;
}

select {
  border: none;
  font-size: 18px;
  margin: 10px 0px 10px 0px;
}

select:focus {
  outline: none;
}

select:hover {
  background: gray;
}

textarea {
  resize: none;
  padding: 5px;
}

#container {
  display: grid;
  grid-template-areas:
  'regular trial';
  grid-template-columns: 50% 50%;
  grid-auto-flow: row;
  min-height: 100vh;
}

#form {
  grid-area: regular;
  position: relative;
  text-align: center;
  background-color: #90ee90;
}

.all {
  display: none;
}

#topicsList {
  margin: 0px 0px 30px 0px;
}

.all.active {
  position: relative;
  opacity: 1;
  visibility: visible;
  display: inline-block;
}

#right {
  text-align: center;
  background-color: #90ee90;
  position: fixed;
  left: 50%;
  width: 50%;
  min-height: 100vh;
}

.title {
  font-size: 40px;
  position: relative;
  margin: 3% 0px 10% 0px;
  font-weight: 600;
}

#finishDiv {
  grid-area: trial;
  /*background-image: linear-gradient(to right, white, #90ee90);*/
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
}

#finish {
  font-size: 16px;
  font-weight: 500;
  color: black;
  border-radius: 10px;
  width: 93%;
  border: 2px solid black;
}

#finish:focus {
  outline: none;
}

#username, #password, #language, #notes, #topics, #challenges, #next, #local {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  font-size: 15px;
  width: 70%;
  margin-bottom: 1.5%;
}

#username:focus, #password:focus, #language:focus, #notes:focus, #topics:focus, #challenges:focus, #next:focus, #local:focus {
  outline: none;
}

#username:focus::placeholder, #password:focus::placeholder, #language:focus::placeholder, #notes:focus::placeholder, #topics:focus::placeholder, #challenges:focus::placeholder, #next:focus::placeholder, #local:focus::placeholder {
  /*color: transparent;*/
  opacity: 0;
  transition: all .3s;
}

#username::placeholder, #password::placeholder, #language::placeholder, #notes::placeholder, #topics::placeholder, #challenges::placeholder, #next::placeholder, #local::placeholder {
  opacity: 1;
  transition: all .3s;
}

#username_group, #password_group, #language_group, #notes_group, #topics_group, #challenges_group, #next_group, #local_group {
  position: relative;
  margin: 10px;
  display: block;
}

.username_label, .password_label, .language_label, .notes_label, .topics_label, .challenges_label, .next_label, .local_label {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  color: black;
  display: inline-block;
  font-size: 15px;
  transition: .3s;
  bottom: 55%;
  width: 70%;
  text-align: left;
  left: 15%;
}

.notes_label {
  bottom: 86% !important;
  /*opacity: 1;
  visibility: visible;*/
}

.challenges_label,
.next_label {
  bottom: 80% !important;
  /*opacity: 1;
  visibility: visible;*/
}

#username:focus + .username_label,
#password:focus + .password_label,
#language:focus + .language_label,
#notes:focus + .notes_label,
#topics:focus + .topics_label,
#challenges:focus + .challenges_label,
#next:focus + .next_label,
#local:focus + .local_label,
#username:not(:placeholder-shown) + .username_label,
#password:not(:placeholder-shown) + .password_label,
#language:not(:placeholder-shown) + .language_label,
#notes:not(:placeholder-shown) + .notes_label,
#topics:not(:placeholder-shown) + .topics_label,
#challenges:not(:placeholder-shown) + .challenges_label,
#next:not(:placeholder-shown) + .next_label,
#local:not(:placeholder-shown) + .local_label {
  opacity: 1;
  visibility: visible;
  display: block;
  bottom: 100%;
  transition: all .3s;
}

#notes:focus + .notes_label,
#notes:not(:placeholder-shown) + .notes_label {
  bottom: 100% !important;
}

#challenges:focus + .challenges_label,
#challenges:not(:placeholder-shown) + .challenges_label,
#next:focus + .next_label,
#next:not(:placeholder-shown) + .next_label {
  bottom: 100% !important;
}

.submit {
  margin-bottom: 16px;
}

#platform-website-container.website {
  justify-self: center;
  display: grid;
  grid-template-areas:
  'space platform language';
  grid-template-columns: 20% 30% 30%;
  margin-top: 3%;
}

#platform-container {
  grid-area: platform;
}

#website-container {
  grid-area: language;
}

#website-button,
#platform-button {
  border: 2px solid black;
  border-radius: 7px;
  position: relative;
  background-color: inherit;
  font-size: 20px;
  font-weight: 500;
}

#website-button:hover,
#platform-button:hover {
  cursor: pointer;
}

.dropdown-item {
  text-decoration: none;
  display: inline-block;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  color: black;
}

.dropdown-item:visited {
  color: black;
}

.dropdown-item:hover {
  text-shadow: 5px 5px 10px;
  transition: .3s;
}

.dropdown-content {
  opacity: 0;
  visibility: hidden;
  display: block;
  transition: all .3s;
  text-align: center;
  justify-content: center;
}

.dropdown-content:hover {
  opacity: 1;
  visibility: visible;
  transition: all .3s;
}

#website-button:hover + .dropdown-content,
#platform-button:hover + .dropdown-content {
  opacity: 1;
  visibility: visible;
  transition: all .3s;
}

.tab-name {
  font-size: 25px;
  font-weight: 500;
  right: 10%;
  position: absolute;
  margin-top: -1%;
  cursor: pointer;
}

#trial-tab-label {
  opacity: 0;
}

#tab-checkbox {
  display: none;
}

.not-active {
  pointer-events: none;
  cursor: default;
}
